@model IEnumerable<MusicMe2.Comment>

@{
    ViewBag.Title = "Index";
}

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CommentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CommentId })
                @{
                    var userId = (int)Session["userId"];
                    var likePost = item.LikeSet.FirstOrDefault(p => p.ProfileProfileId == userId);
                    if (likePost == null)
                    {
                        Html.ActionLink("Like", "Create", "Likes", new { commentId = item.CommentId }, null);
                    }
                    else
                    {
                        var likeId = likePost.LikeId;
                        Html.ActionLink("Unlike", "Delete", "Likes", new { id = likeId, commentId = item.CommentId }, null);
                    }
                }
            </td>

        </tr>

    }

</table>
